if SHIELD_SPLITDB_LEFT

config ZMK_KEYBOARD_NAME
    default "splitdb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITDB_LEFT || SHIELD_SPLITDB_RIGHT

config ZMK_SPLIT
    default y

endif
